@model LayeredArchitecture.UI.Models.ViewModel.CategoriesModel

@{
    ViewData["Title"] = "Crud";
}
<h2 class="flex flex-row flex-nowrap items-center my-8">
    <span class="flex-grow block border-t border-black" aria-hidden="true" role="presentation"></span>
    <span class="flex-none block mx-4 rounded-full  px-4 py-2.5 text-xs leading-none font-medium uppercase bg-black text-white">
        @Model.Head
    </span>
    <span class="flex-grow block border-t border-black" aria-hidden="true" role="presentation"></span>
</h2>
<div class="flex place-content-center flex-wrap">
    <div class="md:w-1/3 pr-4 pl-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-red-600"></div>
            <div class="mb-4">
                <input readonly asp-for="SelectedCat.Id" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" />
                <span asp-validation-for="SelectedCat.Id" class="text-red-600"></span>
            </div>
            <div class="mb-4">
                <label asp-for="SelectedCat.Name" class="control-label"></label>
                <input asp-for="SelectedCat.Name" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" />
                <span asp-validation-for="SelectedCat.Name" class="text-red-600"></span>
            </div>
            <div class="mb-4">
                <button type="submit" value="@Model.Text" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 mt-4 sm:mt-0 inline-flex gap-1 items-center justify-start px-2 py-1 bg-indigo-700 hover:bg-indigo-600 focus:outline-none rounded hover:shadow-lg hover:shadow-indigo-500/40 @Model.Class text-white font-medium">@Model.Text</button>
                <a asp-action="List" class="inline-block rounded-full align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-neutral-200 text-dark">Cancel</a>
            </div>
        </form>
    </div>
</div>